<p id="notice"><%= notice %></p>

<% @blogs.each do |blog|%>
  <div class="card">
  <div class="card-header">
    <%= blog.title %><br>
    <p>written by</p>&nbsp;<%= blog.user.email%>  
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= blog.description %></h5>
    <p class="card-text"><%= blog.content.html_safe%></p>
    <br>
    <p><%= time_ago_in_words(blog.created_at)%>&nbsp;ago</p>
    <% if user_signed_in? && current_user.id == blog.user_id%>
    <%= link_to "Edit Blog", edit_blog_path(blog.id), class: "btn btn-primary"%>
    <%end%>
  </div>
</div>
<%end%>



<%= link_to 'New Blog', new_blog_path %>
